.wrapper{
    min-height: 100vh;
    padding: 6rem 1rem 1rem;
    margin: auto;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.containerSearch{
    width: 100%;
    padding: 1rem;
    border-radius: .325rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.containerMenuSearch{
    flex: 3;
    margin:auto;
    display: flex;
    gap: .4rem;
}

.searchButton{
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: transparent;
    display: grid;
    place-items: center;
    transition: all .2s ease-in-out;
    width: 3rem;
    height: 3rem;
}

.searchButton:hover{
    background-color: black;
}

.searchButton:hover .searchIcon{
    color: white;
}

.searchInput{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid black;
}

.containerOptions{
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: .5rem
}

.orderOptions{
    border: 1px solid black;
    border-radius: 2rem;
    padding: .5rem;
    cursor: pointer;
}

.paginationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.paginationButton{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: black;
    transition: all .2s ease-in-out;
}

.iconPaginationButton{
    color: white;
    pointer-events: auto;
}

.paginationDisplay{
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
}

.containerContent{
    max-width: 1280px;
    border: 1px solid black;
    width: 100%;
    border-radius: .325rem;
    box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px;
    padding: 1rem;
}

