.wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
}

.form {
    padding: 1rem;
    border: 1px solid black;
    border-radius: .325rem;
    max-width: 800px;
    width: 100%;
    box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px;
}

.form h2 {
    text-align: center;
}

.form > section {
    padding-block: 1rem;
}

.containerInputName label {
    display: block;
    font-weight: 700;
    padding-block-end: .325rem;
}

.containerAdress{
    display: flex;
    gap: .5rem;
}

.containerLocalization label{
    display: block;
    font-weight: 700;
    padding-block-end: .325rem;
}

.containerStates{
    width: 6rem;
    border-radius: .325rem;
}


.containerDescription label{
    display: block;
    font-weight: 700;
}

.containerDescription textarea{
    width: 100%;
    height: 6rem;
    resize: none;
    border-radius: .325rem;
    border: 1px solid black;
}

.buttonForm{
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 100%;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
}

.buttonForm:hover{
    transform: translate(-2px, -2px);
}