.wrapper {
    padding-block: 1rem;
}

.input {
    width: 100%;
    padding: .5rem;
    border-radius: .325rem;
    border: 1px solid black;
}

.input::-webkit-scrollbar {
    width: 10px;
}

.input::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.input::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid transparent;
}

.label {
    display: block;
    font-weight: 700;
    padding-block-end: .325rem;
}

.error{
    background-color: rgba(255, 1, 1, 0.5);
}

.input:disabled{
    pointer-events: none;
    background-color: rgba(153, 153, 153, 0.3);
}